<!DOCTYPE HTML>
<html lang="en">

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->

<head>
    <meta charset="utf-8">
    <title>Dude Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/logo1.png">
    <!--cropperjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <style>
        /* CSS for highlighting the submit button */
        .highlighted-btn {
            background-color: #007bff;
            color: #fff;
            /* Text color */
            border-color: #007bff;
            /* Border color */
            width: 150px;

        }

        .highlighted-btn:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>

</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap">
                <img src="/assets/imgs/theme/logo1.png" class="logo" alt="Dude Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/product">Product List</a>

                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Categories</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/category">Category List</a>

                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/order">Order list</a>

                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">

                        <a href="/admin/userlist">Users list</a>

                    </div>
                </li>
                <li class="menu-item"></li>
                <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Coupons</span>
                </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminOffers">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Offer </span>
                    </a>
                </li>

            </ul>
            <hr>

            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">

            <div class="col-nav ms-auto">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">

                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/assets/imgs/theme/flag-us.png"
                                    alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-fr.png"
                                    alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-jp.png"
                                    alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-cn.png"
                                    alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false">Admin</a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section style="position: relative;" class="new-product p-md-5">

            <div class="h3 fw-bold text-second px-4">
                <a class="text-second h6" style="text-decoration: none;" href="/admin/product"><i
                        class="fa-solid fa-left-long"></i><span>Product</span></a>
                <br><span>New Product</span>
            </div>
            <form id="addproduct" class="row d-flex justify-content-center" action="/admin/new-product" method="post"
                enctype="multipart/form-data">
                <section class="left-secton col-md-6 p-3">
                    <!---->
                    <!-- Flash Messages -->
                    <% if (success.length> 0) { %>
                        <div class="alert alert-success">
                            <% success.forEach(function(message) { %>
                                <p>
                                    <%= message %>
                                </p>
                                <% }) %>
                        </div>
                        <% } %>

                            <% if (error.length> 0) { %>
                                <div class="alert alert-danger">
                                    <% error.forEach(function(message) { %>
                                        <p>
                                            <%= message %>
                                        </p>
                                        <% }) %>
                                </div>
                                <% } %>

                                    <div class="card p-md-5 p-2 me-md-5">
                                        <h5>Choose product images </h5>
                                        <span class="fw-normal mb-4 text-success">file supports only:
                                            jpeg,jpg,png,webp</span>
                                        <span class="fw-bold">Select the Primary Image</span>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <input class="form-control" type="file" accept=".jpg,.jpeg,.png,.webp,.svg"
                                                id="primaryimageInput">
                                            <div id="PrimaryimageContainer"></div>
                                        </div>


                                        <span class="fw-bold">Select secondary images <br> <span
                                                class="fw-normal text-success">Maximum 3 images</span></span>
                                        <input class="form-control" type="file" accept=".jpg,.jpeg,.png,.webp,.svg"
                                            id="imageInput" multiple>
                                        <div id="imageContainer"></div>
                                    </div>

                                    <div class="form-floating my-2 me-md-5">
                                        <label class="form-label fw-bold" for="form4Example3">Description</label>
                                        <br>
                                        <textarea class="form-control mt-4 text-area" rows="5" name="description"
                                            style="min-height:150px !important;" required></textarea>
                                    </div>
                </section>
                <section class="right-section col-md-6  col-md-6 p-4">
                    <div class="form-group mb-4">
                        <label for="" class="fw-bold mb-2">Product Name</label>
                        <input type="text" name="product_name" class="form-control" required>
                    </div>
                    <div class="row mb-2">
                        <div class="form-group col-md-6">
                            <label for="" class="fw-bold mb-2">Brand Name</label>
                            <input type="text" name="brand_name" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="" class="fw-bold mb-2">Color</label>
                            <input type="text" name="color" class="form-control" required>
                        </div>

                        <div id="sizeStockContainer">
                            <div class="row mb-2 size-stock-item">
                                <div class="form-group col-md-6">
                                    <label for="size" class="fw-bold mb-2">Size</label>
                                    <input type="text" name="sizes[]" class="form-control" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="stock" class="fw-bold mb-2">Stock</label>
                                    <input type="number" name="stocks[]" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="addSizeStock" class="btn btn-secondary mb-4">Add Another Size</button>

                        <div class="form-group col-md-6 d-flex flex-column">
                            <label for="" class="fw-bold mb-2">Category Name</label>
                            <select class="form-select" name="category" required>
                                <% category.forEach(function(cat){ %>
                                    <option value="<%= cat._id %>">
                                        <%= cat.cat_name %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="form-group col-md-6">
                            <label for="" class="fw-bold mb-2">Actual Price</label>
                            <input type="text" name="prod_price" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="" class="fw-bold mb-2">Selling Price</label>
                            <input type="text" name="sellig_price" class="form-control" required>
                        </div>

                    </div>
                    <!-- Add the error message element -->
                    <div id="errorMessage" class="alert alert-danger" style="display: none;"></div>
                    <div class="btn-group">
                        <button type="submit" class="add-btn py-3 highlighted-btn">Submit</button>

                    </div>
                </section>


            </form>



            <% if(typeof message !=='undefined' ) { %>
                <p style="color: red;">
                    <%=message %>
                </p>
                <% } %>


                    <footer class="main-footer font-xs">
                        <div class="row pb-30 pt-15">
                            <div class="col-sm-6">
                                <script>
                                    document.write(new Date().getFullYear())
                                </script> ©Dude Men's Clothing.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end">
                                    All rights reserved
                                </div>
                            </div>
                        </div>
                    </footer>
    </main>


    <script>
        const form = document.getElementById("addproduct");
        let totalimages = 0;

        function imageupload(event) {
            const files = event.target.files;
            const imagecontainer = document.getElementById("imageContainer");
            const maximum = 3;

            const totalupload = totalimages + files.length;
            if (totalupload > maximum) {
                alert(`Oops! Upload only ${maximum} files. Sorry`);
                event.target.value = "";
                return;
            }

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();
                if (!file.type.startsWith("image/")) {
                    console.log("File is not an image.", file.type);
                    continue;
                }

                const imgdiv = document.createElement("div");
                imgdiv.classList.add("image-div");

                const img = document.createElement("img");
                img.style.height = "300px";
                img.style.width = "300px";
                img.setAttribute("name", `image`);
                img.classList.add("uploaded-image");

                const deletebutton = document.createElement("button");
                deletebutton.textContent = "Delete";
                deletebutton.classList.add("btn", "btn-danger", "m-2");

                deletebutton.addEventListener("click", function () {
                    totalimages--;
                    imgdiv.remove();
                });

                reader.onload = function (event) {
                    img.src = event.target.result;

                    const cropperdiv = document.createElement("div");
                    cropperdiv.classList.add("cropper-container");
                    cropperdiv.appendChild(img);

                    imgdiv.appendChild(cropperdiv);
                    const cropper = new Cropper(img, {
                        dragMode: "move",
                        aspectRatio: 1,
                        autoCropArea: 0.8,
                        restore: false,
                        guides: false,
                        center: false,
                        responsive: true,
                        highlight: false,
                        cropBoxMovable: false,
                        cropBoxResizable: false,
                        toggleDragModeOnDblclick: false,
                    });

                    const cropbtn = document.createElement("button");
                    cropbtn.classList.add("btn", "btn-primary", "m-2");
                    cropbtn.textContent = "Crop";
                    cropbtn.addEventListener("click", function (event) {
                        event.preventDefault();
                        const croppedCanvas = cropper.getCroppedCanvas();

                        img.src = croppedCanvas.toDataURL();

                        croppedCanvas.toBlob((blob) => {
                            const fileName = Date.now();
                            const file = new File([blob], `${fileName}.jpg`, {
                                type: "image/jpeg",
                            });

                            if (window.FileList && window.DataTransfer) {
                                const dataTransfer = new DataTransfer();
                                dataTransfer.items.add(file);
                                const input = document.createElement("input");
                                input.type = "file";
                                input.name = `image${i}`;
                                input.files = dataTransfer.files;
                                form.appendChild(input);
                                input.style.display = "none";
                            } else {
                                console.error(
                                    "FileList and DataTransfer are not supported in this browser."
                                );
                            }
                        });
                        cropper.destroy();
                        cropbtn.remove();
                    });

                    imgdiv.appendChild(cropbtn);
                    imgdiv.appendChild(deletebutton);
                };

                reader.readAsDataURL(file);

                imagecontainer.appendChild(imgdiv);
            }
            totalimages = totalupload;
        }
        const imageInput = document.getElementById("imageInput");

        imageInput.addEventListener("change", imageupload);

        // const imagecontainer = document.getElementById("PrimaryimageContainer");
        //     const form = document.getElementById("addproduct");
        //   let totalimages = 0;

        function primaryimageupload(event) {
            const file = event.target.files[0];
            const imagecontainer = document.getElementById("PrimaryimageContainer");

            const reader = new FileReader();
            if (!file.type.startsWith("image/")) {
                console.log("File is not an image.", file.type);
                return;
            }

            const imgdiv = document.createElement("primarydiv");
            imgdiv.classList.add("primary-image-div");

            const img = document.createElement("img");
            img.style.height = "300px";
            img.style.width = "300px";
            img.setAttribute("name", `primary-image`);
            img.classList.add("uploaded-image-primary");

            const deletebutton = document.createElement("button");
            deletebutton.textContent = "Delete";
            deletebutton.classList.add("btn", "btn-danger", "m-2");

            deletebutton.addEventListener("click", function () {
                imgdiv.remove();
            });

            reader.onload = function (event) {
                img.src = event.target.result;

                const cropperdiv = document.createElement("div");
                cropperdiv.classList.add("cropper-container");
                cropperdiv.appendChild(img);

                imgdiv.appendChild(cropperdiv);
                const cropper = new Cropper(img, {
                    dragMode: "move",
                    aspectRatio: 1,
                    autoCropArea: 0.8,
                    restore: false,
                    guides: false,
                    center: false,
                    responsive: true,
                    highlight: false,
                    cropBoxMovable: false,
                    cropBoxResizable: false,
                    toggleDragModeOnDblclick: false,
                });

                const cropbtn = document.createElement("button");
                cropbtn.classList.add("btn", "btn-primary", "m-2");
                cropbtn.textContent = "Crop";
                cropbtn.addEventListener("click", function (event) {
                    event.preventDefault();
                    const croppedCanvas = cropper.getCroppedCanvas();

                    img.src = croppedCanvas.toDataURL();

                    croppedCanvas.toBlob((blob) => {
                        const fileName = Date.now();
                        const file = new File([blob], `primary-${fileName}.jpg`, {
                            type: "image/jpeg",
                        });

                        if (window.FileList && window.DataTransfer) {
                            const dataTransfer = new DataTransfer();
                            dataTransfer.items.add(file);
                            const input = document.createElement("input");
                            input.type = "file";
                            input.name = `primary-image`;
                            input.files = dataTransfer.files;
                            form.appendChild(input);
                            input.style.display = "none";
                        } else {
                            console.error(
                                "FileList and DataTransfer are not supported in this browser."
                            );
                        }
                    });
                    cropper.destroy();
                    cropbtn.remove();
                });

                imgdiv.appendChild(cropbtn);
                imgdiv.appendChild(deletebutton);
            };

            reader.readAsDataURL(file);

            imagecontainer.appendChild(imgdiv);

            totalimages = totalupload;
        }
        const primaryimageInput = document.getElementById("primaryimageInput");

        primaryimageInput.addEventListener("change", primaryimageupload);

    </script>


    <script>
        // JavaScript to dynamically add size and stock fields
        document.getElementById('addSizeStock').addEventListener('click', function () {
            const container = document.getElementById('sizeStockContainer');
            const newSizeStock = document.createElement('div');
            newSizeStock.classList.add('row', 'mb-2', 'size-stock-item');
            newSizeStock.innerHTML = `
            <div class="form-group col-md-6">
                <label for="size" class="fw-bold mb-2">Size</label>
                <input type="text" name="sizes[]" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <label for="stock" class="fw-bold mb-2">Stock</label>
                <input type="number" name="stocks[]" class="form-control" required>
            </div>
        `;
            container.appendChild(newSizeStock);
        });

        const addproduct = document.getElementById('addproduct');

        addproduct.addEventListener('submit', async (event) => {
            event.preventDefault();

            const sizesArray = Array.from(document.querySelectorAll('input[name="sizes[]"]')).map((input, index) => ({
                size: input.value,
                stock: document.querySelectorAll('input[name="stocks[]"]')[index].value
            }));

            const sizesJSON = JSON.stringify(sizesArray);
            console.log('Sizes JSON:', sizesJSON);

            const formData = new FormData(addproduct);

            // Remove these if already added to avoid duplication
            formData.delete('sizes[]');
            formData.delete('stocks[]');

            // Append the sizes JSON string
            formData.append('sizes', sizesJSON);

            // Debugging: Log the FormData contents
            for (let [key, value] of formData.entries()) {
                console.log(key, value);
            }

            try {
                const response = await fetch('/admin/new-product', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    displayErrorMessage(errorData.error);
                } else {
                    window.location.href = '/admin/product';
                }
            } catch (error) {
                console.error('Error:', error.message);
                displayErrorMessage('An error occurred. Please try again.');
            }
        });

        function displayErrorMessage(message) {
            const errorMessageElement = document.getElementById('errorMessage');
            errorMessageElement.innerText = message;
            errorMessageElement.style.display = 'block';
        }
    </script>


    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

</html>